<div class="col-md-6">
    <label for="editUsername" class="form-label">Username</label>
    <input type="text" class="form-control" id="editUsername" name="username" value="{{ user.username }}" required>
</div>
<div class="col-md-6">
    <label for="editPassword" class="form-label">password</label>
    <input type="password" class="form-control" id="editPassword" name="password" value="{{ user.password }}" required>
</div>
<div class="col-md-6">
    <label for="client" class="form-label">Client</label>
    <select class="form-select" aria-label="Default select example" id="client" name="client">
        {% for client in clients %}
        <option value="{{ client.identifier }}">{{ client.identifier }}</option>
        {% endfor %}
    </select>
</div>
<div class="col-md-12">
    {% if edit==true %}
    <button class="btn btn-secondary" hx-get="/admin/users/{{ user.username }}?edit=false"
        hx-target="#user-{{ user.username }}" hx-swap="innerHTML">
        Cancel
    </button>
    <button class="btn btn-secondary" hx-put="/admin/users/{{ user.username }}" hx-target="#user-{{ user.username }}"
        hx-swap="outerHTML">
        Save
    </button>
    {% else %}
    <button class="btn btn-secondary" hx-get="/admin/users/{{ user.username }}?edit=true"
        hx-target="#user-{{ user.username }}" hx-swap="innerHTML">
        Edit
    </button>
    <button class="btn btn-secondary" hx-delete="/admin/users/{{ user.username }}" hx-target="#user-{{ user.username }}"
        hx-swap="outerHTML">
        Delete
    </button>
    {% endif %}
</div>